  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
  --font-family: 'Bebas Neue', sans-serif;;
  --main-bg-color:rgb(69, 69, 69);
  --sec-color:  rgba(177, 79, 18, 0.913);
  --text-color: rgb(255, 230, 199);
  --box-shadow: 1px 1px 20px 1px rgb(51, 44, 44);
  --border-color: rgb(255, 165, 89);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
